AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
SUPPORT_INTEL_GCP_PROJECT=your-gcp-project
SUPPORT_INTEL_RAW_DATASET=support_raw
SUPPORT_INTEL_ANALYTICS_DATASET=support_intelligence_dev
SUPPORT_INTEL_BQ_LOCATION=US
SUPPORT_INTEL_SOURCE_MODE=mock
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
SLACK_BOT_TOKEN=
SLACK_CHANNEL_IDS=
SLACK_LOOKBACK_DAYS=7
SLACK_MAX_MESSAGES_PER_CHANNEL=200
DBT_PROFILES_DIR=/opt/airflow/dbt_profiles
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/service-account.json
HOST_GCP_KEY_DIR=C:/Users/suhas/keys
